h2= "Isi perkara di bawah"

<form method="POST" action="/new">

  <input type="text" id="user" name="users"><br><br>
  <input type="text" id="text" name="texts"><br><br>

  <button type="submit" class="">Submit</button>
</form>