h2= "Insert message below"

<form method="POST" action="/new">

  <input type="text" id="user" name="users" placeholder="user"><br><br>
  <input type="text" id="text" name="texts" placeholder="message"><br><br>

  <button type="submit" class="">Submit</button>
</form>